<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Tag N Trac</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&amp;display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&amp;display=swap" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <%= stylesheet_link_tag 'launch' %>
    </head>
    <body>
        <div class="masthead">
            <div class="masthead-content text-white">
                <div class="container-fluid px-4 px-lg-0">
                    <h1 class="fst-italic lh-1 mb-4">Tag-N-Trac</h1>

                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                      <%= render "devise/shared/error_messages", resource: resource %>

                    <div class="field">
                      <%= f.label :first_name %><br />
                      <%= f.text_field :first_name, autofocus: true %>
                    </div>

                    <div class="field">
                      <%= f.label :last_name %><br />
                      <%= f.text_field :last_name, autofocus: true %>
                    </div>

                    <div class="field">
                      <%= f.label :email %><br />
                      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                    </div>

                    <div class="field">
                      <%= f.label :password %>
                      <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br />
                      <%= f.password_field :password, autocomplete: "new-password" %>
                    </div>

                    <div class="field">
                      <%= f.label :password_confirmation %><br />
                      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                    </div><br>

                    <div class="field">
                      <%= f.radio_button :user_type, "customer" %>
                      <%= f.label :user_type, "I'm customer", value: "customer" %>

                      <%= f.radio_button :user_type, "delivery_partner" %>
                      <%= f.label :user_type, "I'm delivery partner", value: "delivery_partner" %>
                    </div><br>

                    <div class="actions">
                      <%= f.submit "Sign up", class: "btn btn-primary" %>
                    </div><br>
                  <% end %>

                  <%= render "devise/shared/links" %>
                </div>
            </div>
        </div>
        <!-- Social Icons-->
        <!-- For more icon options, visit https://fontawesome.com/icons?d=gallery&p=2&s=brands-->
        <div class="social-icons">
            <div class="d-flex flex-row flex-lg-column justify-content-center align-items-center h-100 mt-3 mt-lg-0">
                <a class="btn btn-dark m-3" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark m-3" href="#!"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark m-3" href="#!"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </body>
</html>
